@mixin display-flex($justify) {
    display: flex;
    align-items: center;
    @if $justify == 'between' {
        justify-content: space-between;
    }@else if $justify == 'space' {
        justify-content: space-around;
    }@else {
        justify-content: center;
    }
}